body {
    background-color: rgb(47, 93, 145);
    font-family: "Courier New", monospace;
}

img {
    height: auto;
    width: 600px;
}

h1, h2 {
    text-align: center;
    color: white;
}

h1 {
    background-color: orange;
}

.large-font {
    font-size: large;
}