h1 {
  color: red;
  background-color: yellow;
  text-align: center;
  font-family: "Brush Script MT", sans-serif;
  font-size: 50px;
}

h2 {
  color: rgb(1, 56, 144);
  font-family: Garamond, sans-serif;
  text-align: center;
}

p {
  text-align: center;
}

ul,
ol {
  list-style-position: inside;
}

ul {
  font-style: italic;
  text-align: center;
}

ol {
  text-align: center;
}

