body {
    background-color: rgb(47, 93, 145);
    font-family: "Courier New", monospace;
}

h1 {
    text-align: center;
    background-color: orange;
    color: white;
    padding: 16px;
    width: 400px;
    margin: 38px auto;
    border: 5px solid rgb(216, 17, 17);
}

ul {
    text-align: center;
    font-size: 24px;
}

.large-font {
    font-size: large;
}

.left-side {
    text-align: left;
}